<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Detachable Phoenix</title>
	<link rel="stylesheet" href="./css/maincss.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- bower:js -->
	<!-- endbower -->
</head>
<body>
	<div id="cardfan">
		<div id="cardstack">
			<div class="card infocard" id="about">About Me</div>
			<div class="card infocard" id="resume">Destinations</div>
			<div class="card infocard" id="history">History</div>
			<div class="card infocard" id="funandgames">Fun & Games</div>
			<div class="card infocard" id="blog">Blog</div>
			<div class="card infocard" id="homes">Homes Away From Home</div>
			<div class="card infocard" id="destinations">Resume</div>
		</div>
	</div>
	<script src="bundle.js"></script>
</body>
</html>
